.main {
    clear:both;
    padding: 15px 0px;
}


.filters {
    gap: 10px;
    margin-bottom: 20px;
}

.filters > input, select {
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    outline: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 10px 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.onclickfilter
{
    button {
        margin: 5px 2px;
        border:1px solid $primary;
        border-radius: 4px;
    }
} 
.searchfilter, .sortfilter {
    margin: 10px 0px;
}